.Header-container {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  /* background-image: url("../../../assets/Home/bg.jpg"); */
  /* background-image: url("../../../assets//Home/bgbs.png"); */
  background-image: url("../../../assets//Home/bgred.png");
  /* background-image: url("../../../assets//Home/bggr.png"); */
  /* background-image: url("../../../assets//Home/bgy.png"); */
  display: flex;
  align-items: center;
  align-content: center;
}
.Titre {
  color: black;
  color: white;
  /* border: 1px solid white; */
  font-size: 40px;
  flex-grow: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header-List {
  /* border: 1px solid white; */
  display: flex;
  width: 450px;
  justify-content: space-between;
  color: black;
  color: white;
  list-style: none;
  padding: 0;
}
.Header-List {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .Header-container {
    margin-top: 20px;
  }
  .Header-List {
    display: none;
  }
  .Titre {
    justify-content: center;
    flex-grow: 1;
  }
}
