.cursor-pointer {
  cursor: pointer;
}

.scroll-to-top {
  /* border: 1px solid red; */
  position: fixed;
  bottom: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50% 0 0 50%;
  background-color: #b20d0d;

  /* background: #24263b; */
  /* opacity: 0.5; */
  color: white;
  border: 1px solid white;
  border-right: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.scroll-to-top .icon {
  margin: 10px 7px;
  animation: scrollTop 0.5s alternate ease infinite;
  -webkit-animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
