.boxHead {
  width: 250px;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-image: url("../../../../assets/Home/bg.jpg");
}
.drawer-container {
  margin-bottom: 15px;
}
.ListItem {
  color: white;
}
@media screen and (min-width: 700px) {
  .drawer-container {
    display: none;
  }
}
