.resume-container {
  width: 100%;
  height: 105vh;
  background-color: white;
  /* border: 1px solid black; */
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.resume-head {
  text-align: center;
  margin-bottom: 50px;
  /* border: 1px solid black; */
}
.resume-section {
  /* border: 1px solid black; */

  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  margin: 0;
}
.resume-jalon {
  width: 300px;
  height: 320px;
  padding: 0px;
  /* border: 1px solid black; */
  border-right: 1px solid black;
  box-shadow: 5px 0;
  display: flex;
}

.resume-details {
  width: 600px;
  height: 320px;
  padding: 15px;
  /* border: 1px solid black; */
  z-index: 100;
}
.icon2 {
  width: 40px;
  height: 100%;
  background-color: #24263b;
  color: white;
}
.jalon {
  height: 100%;
}
.icon2,
.jalon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.jalon-item {
  position: relative;
  display: flex;
  width: 160px;
}
.jalon-item span {
  position: absolute;
  height: 100%;
  background-color: #24263b;
  border-radius: 0 16px 16px 0;
}
@media screen and (max-width: 900px) {
  .resume-details {
    width: auto;
    height: 320px;
    min-width: 250px;
  }
  .resume-jalon {
    width: 250px;
  }
  .icon2 {
    width: 30px;
  }
  .resume-section {
    flex-wrap: wrap;
    min-height: 90vh;
    height: auto;
    padding: 10px 0 0 0;
  }
  .resume-container {
    height: auto;
    min-height: 100vh;
  }
  .resume-head {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 650px) {
  .resume-jalon {
    height: 150px;
  }
}
